[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
C = ES
L = Madrid
O = JRPosada
OU = Dev
emailAddress = jrposada.dev@gmail.com
CN = pm-creds-ca

[v3_req]
keyUsage = keyCertSign, cRLSign
basicConstraints = critical,CA:TRUE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
